<div class="container">
  <div class="row" style="margin-top: 20px">
    <div class="col-md-12"></div>
    <button class="btn btn-primary" (click)="onAscending()">Ascending</button>
    <button class="btn btn-primary" (click)="onDescending()">Descending</button>
    <select class="form-control" style="width: 200px" (change)="onSelectSortColumn($event.target.value)">
      <option value="name">Name</option>
      <option value="id">Employee Id</option>
      <option value="dob">DOB</option>
      <option value="accountnumber">Account Number</option>
      <option value="salary">Salary</option>
    </select>
  </div>
  <br>
  <div class="row">
    <div class="table-responsive">
      <table class="table" >
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>DOB</th>
          <th>Account Number</th>
          <th>Salary</th>
        </tr>
        <tr *ngFor="let user of data | orderBy : sort">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.dob | date}}</td>
          <td>{{user.accountnumber}}</td>
          <td>{{user.salary}}</td>
        </tr>
      </table>
    </div>
  </div>
